@keyframes fadeIn {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
}

@keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
}

.Loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 1350px;
    height: 800px;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 30px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 1px 1px 30px 0px rgba(255,255,255,0.5);
    box-shadow: 1px 1px 30px 0px rgba(255,255,255,0.5);
    min-height: 0;
    z-index: 1;
  
    overflow-y: scroll;
    scrollbar-width: none; /* Untuk Firefox */
    -ms-overflow-style: none; /* Untuk Internet Explorer & Edge */
}

.Loading-screen {
    animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 1.5s forwards;
}

  
.Loading-screen::-webkit-scrollbar {
    display: none;
}

.Loading-logo{
    margin: 0 auto;
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Sc-Load-Logo{
    width: 160px;
}

.Loading-title{
    color: var(--dark-blue);
    font-size: 18px;
    letter-spacing: 8px;
    font-weight: 500;
}

@media (max-width: 1024px){
    .Sc-Load-Logo{
        width: 160px;
    }
    
    .Loading-title{
        letter-spacing: 5px;
    }
}

@media (max-width: 768px){
    .Loading-logo{
        display: flex;
        flex-direction: column;
        gap: 13px
    }

    .Sc-Load-Logo{
        width: 160px;
    }
    
    .Loading-title{
        font-size: 12px;
        letter-spacing: 4px;
    }
    
    .Loading-line{
        display: none;
    }
}

@media (max-width: 425px){
    .Loading-logo{
        gap: 10px
    }

    .Sc-Load-Logo{
        width: 160px;
    }
    
    .Loading-title{
        font-size: 10px;
        letter-spacing: 2px;
    }
}